@tailwind base;
@tailwind components;
@tailwind utilities;

.menuButton:hover ~ .menuItem:not(.menuItemActive) {
    @apply w-[70px] overflow-visible;
}

.menuItemActive {
    width: 80%!important;
}

@media (max-width: 640px) {
    .menuItemActive {
        width: 100%!important;
    }
}



.scrolledTitle {
    /*transform: translateX(55vw);*/
    color: #C84630;
}

.navItem {
    position: relative;
    z-index: 2;
    width: fit-content;
}

.navItem:hover:before {
    width: 120%;
}


.navItem:before {
    @apply content-[''] absolute top-[35%] left-[-10px] h-[40%] bg-orange w-0 -z-10 transition-width duration-[0.3s];
}

